{% extends 'layout.html' %}

{% block content %}
<div class="jumbotron">
  <h1 style="text-align: center"> About Us </h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="card">
  <h5> So far I have used:</h5>
  <ul>
    <li> html </li>
    <li> css </li>
    <li> javascript </li>
    <li> python
      <ul>
        <li> Flask microframework </li>
      </ul>
    </li>
    <li> git </li>
  </ul>
</div>
<br>
<div class="card">
  <h5> I plan to use:</h5>
  <ul>
    <li> sql </li>
    <li> mysql </li>
    <li> google compute engine </li>
    <li> sql </li>
  </ul>
</div>


{% endblock %}
